<div class="login-page">
    <div class="row">
        <div class="col-md-4  push-md-4 login-logo-section">
            <!--<a href="/"><img src="assets/img/logo.png" width="150px" class="img-responsive" /></a>-->
            <div class="loginform-box box effect5">
                <div class="login-header">
                    <h1>Reset Password</h1>
                </div>
                <form role="form">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control input-underline input-lg" placeholder="Please Enter Your Email">
                        </div>
                        <!-- <div class="form-group">
                            <input type="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
                        </div> -->
                        <button type="button" class="btn btn-primary"  routerLink="/login">Submit</button>
                        <button type="button" class="btn btn-default" routerLink="/login"> Cancel </button>
                                            
                        <div class="form-group margin-bottom-no">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>