// Here you can add other styles
.mt-10{
    margin-top: 10px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mr-10{
    margin-right: 10px !important;
}

.pt-10{
    padding-top: 10px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pb-10{
    padding-bottom: 10px !important;
}
.pr-10{
    padding-right: 10px !important;
}

.element-center{
    margin: 0px auto;
}